#awards img{
    width: 70px;
}

.icons-sm {
    padding: .5rem;
    margin: .5rem;
    font-size: 1.2rem;
}

.li-ic {
    color: #0082CA!important;
}
.tw-ic {
    color: #55ACEE!important;
}
.fb-ic {
    color: #3B5998!important;
}
#card .card-header {
    background-color: @theme-color;
}
.ct-series-a{
    fill: @theme-color!important;
}
.ct-series-b{
    fill: @darker-grey!important;
}

.highcharts-grid-line{
    stroke: @darker-grey;
    stroke-width: 2;
}
.highcharts-graph{
    stroke: @theme-color;
    fill: @theme-color;
    fill-opacity: 0.5
}
.highcharts-point{
    fill: @theme-color;
}

.card-text{
    color: @text-color;
}
body{
    color: @text-color;
}

#languages .row {
    max-height: 170px;
}
.img-fluid {
    padding: 3px;
}